.displayErrors.valid-feedback{
    font-size: 10px;
    color:#ff1d1d;
    display: block;
}

.noError{
    display: none;
}

#register .box-form .formLogin{
    margin: 0 auto;
    width: 30%;
}

#register .box-form label{
    display: flex;
}